body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #323232;
  margin: 0px;
  padding: 0px;
  background-color: #FFF;
  min-width: 900px;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: 'Lekton', 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 75px;
  background-color: #EA7A5F;
  color: #FFF;
}

.content {
  position: relative;
  width: 900px;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
}

header .content .title {
  color: #a83d4c;
  position: absolute;
  padding-bottom: 10px;
  bottom: 0px;
  font-size: 1.25em;
  font-weight: 700;
}

header .content .title b {
  font-weight: 100;
}

header .content .title:hover {
  color: #FFF;
}

header .survey {
  background-color: #a83d4c;
  color: #FFF;
  float: right;
  font-weight: 700;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

header .survey:hover {
  color: #a83d4c;
  background-color: #FFF;
}

.right-opts {
  color: #EA7A5F;
  font-weight: 700;
  float: right;
}

.right-opts .opt {
  float: right;
  padding: 10px 12px 10px 12px;
}

.right-opts .opt:hover {
  color: #a83d4c;
}

.right-opts .opt.inverse {
  color: #a83d4c;
}

.right-opts .opt.inverse:hover {
  color: #EA7A5F;
}

.back {
  color: #EA7A5F;
  padding-top: 20px;
  opacity: 0.75;
}

.back:hover {
  opacity: 1;
}

.header {
  padding-top: 25px;
  color: #EA7A5F;
  font-size: 3em;
  font-weight: 700;
}

.header .opt {
  font-size: 0.35em;
  padding: 10px 17px 10px 17px;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

.header .opt:hover, .header .opt.selected {
  background-color: #EA7A5F;
  color: #FFF;
}

.main {
  margin-top: 35px;
}

.main h1, .main h2, .main h3, .main h4, .main h5 {
  color: #EA7A5F;
}

.main img {
  width: 100%;
  margin-bottom: 0px;
}

.main .left {
  float: left;
  width: 560px;
  padding: 10px;
  padding-left: 0px;
  padding-right: 30px;
}

.main .right {
  float: left;
  width: 300px;
  margin-top: 10px;
  padding: 0px 0px 0px 0px;
  color: #FFF;
  background-color: #EA7A5F;
}

.main .subtext {
  font-size: small;
  font-style: italic;
  color: #FFF;
  background-color: #EA7A5F;
  border: 1px solid #EA7A5F;
  margin-top: 0px;
}

.main .subtext p {
  padding: 0px 15px 0px 15px;
}

.quote {
  background-color: #a83e4e;
  padding: 20px;
}

.quote .phrase {
  font-size: 20px;
  color: #FFF;
}

.quote .attribution {
  text-align: right;
  font-size: 16px;
  color: #eb6342;
  padding-right: 25px;
}

.right img {
  width: 100%;
}

.quote::after {
  content:"";
  display:block;
  clear:both;
}

.right h1, .right h2, .right h3, .right h4, .right p {
  color: #FFF;
  padding-left: 25px;
  padding-right: 25px;
}

.grey {
  color: #999999;
}

.blue {
  color: #EA7A5F;
}




